body {
    margin: 0;
    background-color: #b3b3b3;
    ;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
}

.cal-wrapper {
    width: 50%;
    border: 1px solid #000000;
    margin: 20px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(63, 63, 63);
    border-bottom: 1px solid #ffffff;
    margin: 2px;
}

.answer {
    width: 95%;
    margin: auto;
    height: 80%;
    text-align: right;
    padding: 10px;
    border: none;
    font-size: 30px;
    background-color: rgb(63, 63, 63);
    color: #ffffff;
    font-weight: bold;
}

.cal-btns1 {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.cal-btns2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cal-btns3 {
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.btn {
    height: 80px;
    margin: 1px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #8f8f8f;
    color: #ffffff;
}

.btn:hover {
    font-size: 19px;
    background-color: #757575;
    font-weight: bold;
}


@media(max-width:768px) {
    .btn {
        height: 70px;
    }

    .display {
        height: 200px;
    }

    .container {
        margin-top: 20px;
    }

    .cal-wrapper {
        width: 90%;
    }

    .btn {
        height: 70px;
    }

    .answer {
        font-size: 40px;
    }
}